<app-navbar></app-navbar>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="25%">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image check-mk"></div>
          <mat-card-title>Tools</mat-card-title>
          <mat-card-subtitle>Aplicaciones</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <!-- <button mat-button (click)="openURL('check_mk_6')">
            Check MK v6
          </button> -->
          <button mat-button (click)="openURL('check_mk_6')">
            <img src="../../../../assets/checkmk.png" width="20" /> Check MK
          </button>
          <button mat-button (click)="openURL('kibana')">
            <img src="../../../../assets/elastic-kibana-logo.png" width="20" /> Kibana
          </button>
          <button mat-button (click)="openURL('grafana')">
            <img src="../../../../assets/grafana_logo.png" width="20" /> Grafana
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="25%">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image tools"></div>
          <mat-card-title>Herramientas</mat-card-title>
          <mat-card-subtitle>logs</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="openURL('kibana')">
            <img src="../../../../assets/elastic-kibana-logo.png" width="20" />
            Kibana
          </button>
          <button mat-button (click)="openURL('grafana')">
            <img src="../../../../assets/grafana_logo.png" width="20" /> Grafana
          </button>
        </mat-card-actions>
      </mat-card>
    </div> -->
    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
      <app-card-extended
        [title]="'Marcadores'"
        [subtitle]="'Enlaces de interes'"
        [bookmarks]="bookmarks"
        (action)="openURL($event.name!, $event.url!)"
        (addBookmark)="addBookmark($event)"
      ></app-card-extended>
    </div>
  </div>
</div>
