mat-toolbar {
  background-color: #ffd600;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.header-image.check-mk {
  background-image: url("https://cmk.vueling.com/checkmk_m/check_mk/themes/modern-dark/images/mk-logo.png");
  background-size: cover;
}

.p-2 {
  padding: 20px;
}

.mat-card-actions {
  margin-bottom: 0px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;
}
